name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: 17

      - name: Install Flutter
        uses: subosito/flutter-action@v2

      - name: Fake env for build
        run: |
          echo "GOOGLE_MAPS_API_KEY=KEY_PER_CI" > .env
          echo "GEMINI_API_KEY=KEY_PER_CI" >> .env

      - name: Get Flutter packages
        run: flutter pub get

      - name: Generate app icons
        run: flutter pub run flutter_launcher_icons:main

      - name: Generate splash screen
        run: flutter pub run flutter_native_splash:create

      - name: Run Flutter tests
        run: flutter test

      - name: Build Flutter app
        run: flutter build apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-${{ github.run_number }}
          path: build/app/outputs/flutter-apk/app-release.apk
